/* INICIAL: Bruno Costa */
*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

html,body{
	width: 100%;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.header-inicio{
	width: 100%;
	height: 150px;
	font-size: 17px;
	background-color: #F0F1F1;
}

.logo{
	width: 250px;
	height: 100px;
	float: left;
	margin-left: -18px;
	margin-top: 15px;
	background-image: url('../imagens/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.header-inicio .paginas{float: left;}
.header-inicio .login{float: right;}

.header-inicio .paginas,.login, li{
	float: left;
	padding:0 15px;
}

.header-inicio .paginas,.login, li a{
	text-decoration: none;
	color: black;
}

.header-inicio .paginas ul{
	margin-top: 65px;
	list-style-type: none;
	margin-left: -20px;
}

.header-inicio .login ul{
	margin-top: 65px;
	list-style-type: none;
	margin-right: 80px;
}

#select {color: #F24D5D;}

.header-inicio .paginas,.login, li a:hover{color: #F24D5D;}

section.banner{
	width: 100%;
	height: auto;
    padding: 10px 0;
	background-color: #F0F1F1;
	border-bottom: 8px solid #F24D5D;
}

.capa {
	position: relative;
	float: right;
	width: 50%;
	height: 750px;
	top: 12px;
}

.capa img{
	width: 100%;
	height: 100%;
}

.texto-capa::selection{user-select: none;}

.texto-capa .formato{
	color: #57B855;
	margin: 0%;
}

.texto-capa h1,
.formato{
	margin: 30px 0 0 8%;
	line-height: 180px;
	color: black;
	font-size: 160px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

section.explicacao{
    position: relative;
	width: 100%;
	background-color: #4393D8;
	height: auto;
	clear: both;
	text-align: center; 
	border-bottom: 8px solid #F24D5D;
}

.titulo-explicacao h1{
	padding-top: 30px;
	font-size: 40px;
	letter-spacing: 2px;
	font-family: 'Reem Kufi';
	font-weight: bold;
}

.icon{
    position: relative;
    width: 100%;
    padding: 0 16%;
    z-index: 6;
}

.racao{
    position: relative;
	width: 20%;
	float: left;
	margin-top: 20px;
}

.celular{
    position: relative;
	float: left;
	width: 20%;
	margin-left: 20px;
	margin-top: 20px;
}

.passeio,
.veterinario,
.especialistas{
    position: relative;
	float: left;
	width: 20%;
	margin-left: 20px;
	margin-top: 20px;
}

.racao-icon,
.passeio-icon,
.veterinario-icon,
.celular-icon,
.especialistas-icon{
	width: auto;
	height: auto;
	margin-top: 10px;
}

.racao,
.passeio,
.veterinario,
.celular,
.especialistas, h6{
	font-size: 25px;
	margin: 10px 0;
}

.racao,
.passeio,
.veterinario,
.celular,
.especialistas, p{font-size: 20px;}

.botao-cmfunciona{
	width: 180px;
	height: 64px;
	text-align: center;	
	margin-top: 25px;
    margin-bottom: 25px;
	line-height: 60px;
	border-radius: 10px;
	background-color: #F24D5D;
	font-size: 20px;
	cursor: pointer;
	clear: both;	
}

.botao-cmfunciona a{
	color: black;
	text-decoration: none;
}

.cachorro{
	position: absolute;
	width: 50%;
    padding-right: 80%;
    margin-top: -298px;
    float: left;
    z-index: 5;
}

.gato{
	position: absolute;
	width: 20%;
    height: 50px;
    margin-left: 80%;
    margin-top: -196px;
    float: left;
    z-index: 5;
}

.cachorro img{
	width: 250px;
	height: 300px;
    clear: both;
}

.gato img{
	width: auto;
	height: auto;
}

section.sessao-foto{
    position: relative;
	width: 100%;
	background-color: #F0F1F1;
	height: 1120px;
    margin: auto;
    text-align: center;
    background-image: url('../imagens/ondas.png');
    background-size: 100% 60%;
	background-position: bottom ;
	background-repeat: no-repeat;
}

.fotos{
    position: relative;
	width: 100%;
	color: white;
}

.fotos h1{
	color: #57B855;
	padding: 20px 0;
	font-size: 40px;
	letter-spacing: 2px;
	font-family: 'Reem Kufi';
	font-weight: bold;
}

.img1,
.img2,
.img3,
.img4, img{
	width: 500px;
	height: 350px;
}

.img1, .img2{
	position: relative;
	width: 50%;
	float: left;
    margin: 20px 0;
	z-index: 1;
}

.img3, .img4{
	position: relative;
    width: 50%;
	float: left;
    margin: 120px 0;
	z-index: 1;
}

.fotos h2{
	font-size: 25px;
	margin-top: 5px;
	color: black;
	font-family: 'Reem Kufi';
}

section.visitar{
    position: relative;
	width: 100%;
	height: 400px;
	background-image: url('../imagens/imagem.png');
	background-size: cover;
    clear: both;
	background-position: center;
	background-repeat: no-repeat;
}

.texto-visitar{
	text-align: center;
	color: white;
}

.texto-visitar h1{
	padding-top: 50px;
	font-size: 40px;
	letter-spacing: 2px;
	font-family: 'Reem Kufi', sans-serif;
	font-weight: bold;
}

.texto-visitar p{
	padding-top: 40px;
	font-size: 20px;
	letter-spacing: 2px;
	color: white;
	font-family: 'Reem Kufi';
}

.botao-home{text-align: center;}

.botao-visitar{
	width: 280px;
	height: 64px;
	margin-top: 70px;	
	line-height: 60px;
	border-radius: 10px;
	background-color: #57B855;
	font-size: 20px;
	cursor: pointer;
	clear: both;
}

.botao-visitar a{
	color: black;
	text-decoration: none;
}

footer{
    position: relative;
	width: 100%;
    clear: both;
	height: 620px;
	background: #F0F1F1;
}

.rodape h1{
	color: black;
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Reem Kufi';
	font-weight: 600;
}

.rodape p{
	margin-top: 10px;
	font-size: 20px;
	color: black;
	font-weight: 400;
}

.rodape .info1,
.info2,
.info3{
	width: 33.3%;
	float: left;
	margin-top: 100px;
	text-align: center;
}

.rodape .info4{
	width: 35%;
	float: left;
	margin-top: 140px;
	text-align: center;
}

.rodape .info6,
.info5{
	width: 32%;
	float: left;
	margin-top: 100px;
	text-align: center;
}

.info5 img{
	width: 160px;
	height: 110px;
}

.info2 img{
	width: 40px;
	height: 40px;
	margin: 15px 10px 0 10px;
}

.info1,
.info2,
.info3,
.info6, h2{font-size: 30px;}

@media only screen and (max-width:720px){
		.paginas, .login{
			display: none;
		}

        .texto-capa h1,
        .formato{
            margin-top: 40px;
        } 

        .icon{
            width: 100%;
            padding: 0 5%;
            text-align: center;
        }
        
        .racao{
            position: relative;
            width: 100%;
            float: none;
            text-align: center;
        }
        
        .celular{
            position: relative;
            width: 100%;
            float: none;
            text-align: center;
        }
        
        .passeio,
        .veterinario,
        .especialistas{
            position: relative;
            width: 100%;
            float: none;
            text-align: center;
            margin: 20px 0;
        }
}

@media only screen and (max-width:1100px){
	.capa {
		display: none;
	}

    .texto-capa h1,
    .formato{
		margin: 50px 0;
        line-height: 120px;
        font-size: 120px;
		text-align: center;
    } 
    .icon{
        width: 100%;
        padding: 0% 1%;
        text-align: center;
    }

    .cachorro{
        display: none;
    }
    
    .gato{
        display: none;
    }

    section.sessao-foto{
        height: 870px;
        background-size: 100% 30%;
        padding: 10px 0;
    }

    .img1,
    .img2,
    .img3,
    .img4, img{
        width: 350px;
        height: 200px;
    }

    .img1,.img2{
        width: 50%;
        float: left;
        margin: 60px 0;
    }
    
    .img3, .img4{
        width: 50%;
        float: left;
        margin: 60px 0;
    }
	section.visitar{
		height: 450px;
	}
}

@media only screen and (max-width: 860px){ 
        
    section.sessao-foto{
        height: 100%;
        background-size: 100% 30%;
        padding: 2px 0;
    }

    .img1,.img2{
        position: relative;
        width: 100%;
        float: none;
        margin: 60px 0;
        z-index: 1;
    }
    
    .img3, .img4{
        position: relative;
        width: 100%;
        float: none;
        margin: 60px 0;
        z-index: 1;
    }

    footer{height: auto;}

    .rodape .info1,
    .info2,.info3,.info4{
        width: 100%;
        float: none;
        margin-top: 100px;
        text-align: center;
    }

    .rodape .info4{
        width: 100%;
        float: none;
        margin-top: 140px;
        text-align: center;
    }

    .rodape .info6, .info5{
        width: 100%;
        float: none;
        margin-top: 100px;
        text-align: center;
    }
}

 /* COMO FUNCIONA: Tiago  */
            
            .foto-capa2 {
                width: 100%;
                height: 1000px;
                padding: 10px 0%;
                background-image: url('../imagens/fundo-capa.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .header-funciona {
                width: 100%;
                font-size: 17px;
            }
            
            .logo-funciona {
                width: 250px;
                height: 100px;
                float: left;
                margin-left: -18px;
                margin-top: 15px;
                background-image: url('../imagens/logo-branca.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            .header-funciona a {
                color: #fff;
                text-decoration: none;
            }
            
            .header-funciona a:hover {
                color: #F24D5D;
            }
            
            .paginas-funciona {
                float: left;
                margin-top: 65px;
            }
            
            .paginas-funciona a {
                padding: 0 25px;
                margin-top: 65px;
                list-style-type: none;
                margin-left: -20px;
            }
            
            .login-funciona {
                float: right;
                margin-top: 65px;
                margin-right: 80px;
            }
            
            .login-funciona a {
                margin-top: 65px;
                list-style-type: none;
                padding: 0 15px;
            }
            
            #retangulorosa {
                position: relative;
                width: 585px;
                height: 437px;
                background: #F24D5D;
                border-radius: 20px;
                float: right;
                top: 300px;
                margin-right: 5%;
                margin-left: 500px;
            }
            
            .style-text {
                margin-top: 31px;
                color: #fff;
                text-align: right;
                font-size: 72px;
                line-height: 108px;
                font-weight: normal;
                font-style: normal;
                width: 421px;
                height: 219px;
                font-family: 'Reem Kufi';
                margin-left: 132px;
            }
            
            .info-text {
                color: white;
                text-align: right;
                font-size: 30px;
                line-height: 36px;
                padding-right: 30px;
                margin-top: 40px
            }
            
            #parte2-info-necessarias {
                text-align: center;
            }
            
            .img-precisamos {
                width: auto;
                margin-top: 50px;
            }
            
            .info-precisamos {
                margin-top: 30px;
                color: #F24D5D;
                font-family: 'Reem Kufi';
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 75px;
                text-align: center;
            }
            
            .botao-agendar {
                width: 211px;
                height: 64.16px;
                background: #F24D5D;
                border-radius: 15px;
                border: none;
                margin-top: 50px;
                margin-bottom: 50px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            
            .botao-agendar a {
                color: #FFFFFF;
                text-decoration: none;
            }
            
            #incluso-hospedagem {
                bottom: 400px;
                width: 100%;
                height: 801px;
                background: #F24D5D;
            }
            
            .oque-esta-incluso {
                padding-top: 48px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                color: #FFFFFF;
            }
            
            .lista1 {
                float: left;
                font-family: 'Lato';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 60px;
                color: #FFFFFF;
                margin-left: 10%;
                margin-top: 90px;
            }
            
            .lista2 {
                float: right;
                font-family: 'Lato';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 60px;
                color: #FFFFFF;
                margin-top: 90px;
                margin-right: 10%;
            }
            
            #regras {
                bottom: 400px;
                width: 100%;
                height: 750px;
                background-color: #F0F1F1;
            }
            
            .regras-da-casa {
                font-family: 'Reem Kufi';
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 60px;
                color: #F24D5D;
                padding-top: 50px;
                margin-left: 30px;
                margin-bottom: 20px;
            }
            
            .reto {
                color: #57B855;
            }
            
            .blocos {
                align-items: center;
                width: 100%;
                height: 150PX;
            }
            
            .bloco1-pgt {
                margin-left: 6%;
                width: 25%;
            }
            
            .bloco2-pgt {
                margin-left: 6%;
                width: 25%;
            }
            
            .bloco3-pgt {
                margin-left: 6%;
                width: 25%;
            }
            
            .estrutura-area {
                position: relative;
                width: 100%;
                clear: both;
            }
            
            .venha-conhecer {
                font-family: 'Reem Kufi';
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 60px;
                padding: 30px 2%;
                text-align: right;
                color: #F24D5D;
                margin-left: 50%;
            }
            
            .Estrutura-button {
                background: #F24D5D;
                width: 197.37px;
                height: 64.16px;
                float: right;
                margin-right: 5%;
                border: none;
                font-family: 'Lato';
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            
            .Estrutura-button a {
                text-decoration: none;
                color: #FFFFFF;
            }


/* ESTRUTURA: Bruno Nogueira */

.foto-capa-estrutura {
    width: 100%;
    height: 1000px;
    padding: 10px 0%;
    background-image: url('../imagens/viagem-cao 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-estrutura {
    width: 100%;
    font-size: 17px;
}

.logo-estrutura {
    width: 250px;
    height: 100px;
    float: left;
    margin-left: -18px;
    margin-top: 15px;
    background-image: url('../imagens/logo-branca.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-estrutura a {
    color: #fff;
    text-decoration: none;
}

.header-estrutura a:hover {
    color: #F24D5D;
}

.paginas-estrutura {
    float: left;
    margin-top: 65px;
}

.paginas-estrutura a {
    padding: 0 25px;
    margin-top: 65px;
    list-style-type: none;
    margin-left: -20px;
}

.login-estrutura {
    float: right;
    margin-top: 65px;
    margin-right: 80px;
}

.login-estrutura a {
    margin-top: 65px;
    list-style-type: none;
    padding: 0 15px;
}

#retangulo-capa-pgt {
    width: 585px;
    height: 350px;
    margin-top: -700px;
    margin-left: 10%;
    background: #FF8E36;
    border-radius: 10px;
}

.estilo-texto-capa-pgt {
    color: #fff;
    padding: 20% 0;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    font-weight: normal;
    font-family: 'Reem Kufi';
}

.introducao {
    margin-top: 350px;
    width: 100%;
    background-color: #F0F1F1;
    height: 1000px;
}

.img-Elipse {
    position: absolute;
    width: 900px;
    height: 700px;
    margin-top: -558px;
    z-index: 1;
}

.Elipse-text {
    position: relative;
    width: 683px;
    height: 558px;
    top: 80px;
    left: 5%;
    font-family: 'Lato';
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    z-index: 2;
}

.img-cao-flor {
    position: relative;
    width: 500px;
    height: 700px;
    margin-top: -500px;
    margin-left: 61%;
    z-index: 1;
}

.hotel {
    width: 100%;
    background-color: #F0F1F1;
    height: 1000px;
}

.hotel h1 {
    text-align: center;
    font-family: 'Reem Kufi';
    font-size: 40px;
    line-height: 96px;
    color: #4393D8;
    margin-top: -100px;
}

.hotel-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.005em;
    color: #000000;
    float: left;
    margin-top: 150px;
    margin-left: 7%;
}

.img-Elipse7 img {
    float: right;
    margin-top: -550px;
    margin-left: 60%;
}

.img-Elipse7 img {
    width: auto;
    height: auto;
}

.duvida {
    clear: both;
    width: 100%;
    background-color: #F0F1F1;
    height: 950px;
}

.lazer {
    text-align: center;
    margin-top: -80px;
}

.lazer img {
    width: auto;
    height: auto;
}

.parque {
    float: left;
    padding: 0 4.5%;
}

.parque img {
    width: auto;
    height: auto;
}

.piscina {
    float: right;
    padding: 0 4.5%;
}

.piscina img {
    width: auto;
    height: auto;
}

.suporte {
    clear: both;
    font-family: 'Lato';
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4393D8;
    margin-top: 350px;
}

.duvida button {
    width: 170px;
    height: 64px;
    cursor: pointer;
    background: #4393D8;
    border-radius: 20px;
    margin-top: 20px;
}

.duvida button a {
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 1390px) {
    .piscina {
        margin-top: -316px;
    }
}


   /* AJUDA: Tiago */
            
            .header-ajuda {
                width: 100%;
                font-size: 17px;
            }
            
            .banner-ajuda {
                width: 100%;
                height: 1000px;
                padding: 10px 0%;
                background-image: url('../imagens/capa-ajuda.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .logo-ajuda {
                width: 250px;
                height: 100px;
                float: left;
                margin-left: -18px;
                margin-top: 15px;
                background-image: url('../imagens/logo-branca.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            .header-ajuda a {
                color: #fff;
                text-decoration: none;
            }
            
            .header-ajuda a:hover {
                color: #F24D5D;
            }
            
            .paginas-contato {
                float: left;
                margin-top: 65px;
            }
            
            .paginas-contato a {
                padding: 0 25px;
                margin-top: 65px;
                list-style-type: none;
                margin-left: -20px;
            }
            
            .login-contato {
                float: right;
                margin-top: 65px;
                margin-right: 80px;
            }
            
            .login-contato a {
                margin-top: 65px;
                list-style-type: none;
                padding: 0 10px;
            }

              #retangulo {
            position: relative;
            width: 30%;
            height: 316px;
            min-width: 300px;
            top: 150px;
            margin-left: 3%;
            background: #FFCD1E;
        }
        
        .text {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Reem Kufi';
            font-style: normal;
            font-weight: normal;
            font-size: 400%;
            line-height: 96px;
            text-align: center;
            color: #FFFFFF;
            max-width: 300px;
            margin-top: 100px;
        }
            /*pq ela n interfere dentor da imagem ?*/
            
            form {
                position: relative;
                width: 417px;
                height: 658px;
                float: right;
                bottom: -30px;
                margin-right: 3%;
            }
            
            .input-ajuda,
            textarea {
                background: rgba(196, 196, 196, 0.5);
                border-radius: 8px;
                width: 410.79px;
                height: 69.19px;
                display: block;
                margin: 30px auto;
                padding-left: 10px;
                border: none;
                color: white;
            }
            
            .fale-conosco-form {
                text-align: center;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 43px;
                color: #FFCD1E;
            }
            
            textarea {
                height: 180px;
                padding-top: 10px;
            }
            
            .input-ajuda::placeholder {
                color: #fff;
                font-family: lato;
            }
            
            #mensagem {
                color: #fff;
                font-family: lato;
            }
            
            button {
                display: block;
                margin: -20px auto;
                background: #FFCD1E;
                border-radius: 8px;
                width: 122px;
                height: 44px;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #000000;
                cursor: pointer;
                border: NONE;
            }

/* CADASTRO: Guilherme */ 

.pagina-de-cadastro{
	text-align: center;
}

.logoanimal {
	height: 100px;
	width: 140px;
	margin-top: 10px;
}

.quadro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pg-cadastro{
	background-color: #FFF;
	text-align: center;
	padding: 80px 0;
	border-radius: 10px;
	width: 25%;
	min-width: 20%;
	height: auto;
	margin-top: 30px;	
}

.pg-cadastro h1{
	font-family: 'Reem Kufi', sans-serif;
	margin-top: -50px;
}

.pg-cadastro .input{
	padding: 20px 10px;
	background-color: #dc143c;
	font-size: 15px;
	border: none;
	color: #FFF;
	border-radius: 10px;
	width: 85%;
}

#cadastro{
	font-family: 'Reem Kufi', sans-serif;
	background-color: #dc143c;
	text-align: center;
	padding: 10px;
	width: 50%;
	border-radius: 20px;
	color: #FFF;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 0px;
}
	
#cadastro:hover{
	color: #dc143c;
	background-color: white;
	border: 1px solid #dc143c;;
}

.pg-cadastro h3{
	font-family: 'Lato', sans-serif;
	margin: 10px 0;
}

::-webkit-input-placeholder{
	font-family: 'Lato', sans-serif;
	color: black; 
	opacity: 0.8;
}

.icon-cadastro{width: 100%;}

.icon-cadastro img{		
	width: 50px;
	cursor: pointer;
	height: 50px;
	margin: 0 15px;
}	
	
#login{
	border: none;
	cursor: pointer;
	clear: both;
	margin-top: 20px;
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 480px){	
	@media screen and (max-width: 1100px){	
		.pg-cadastro{
			width: 70%;
		}
	}
}	

@media screen and (min-width: 1101px){
	@media screen and (max-width: 1440px){	
		.logoanimal {
			margin-top: 2px;
		}

		.pg-cadastro{
			width: 35%;
			min-width: 40%;
			height: 83%;
			margin-top: 10px;
		}

		.pg-cadastro h1{
			margin-top: -65px;
		}
	}
}	

/* LOGIN: Gabriel */

.logo-lg{text-align: center;}

.logo-login {
	height: 100px;
	width: 140px;
	margin-top: 20px;
}

.pg-login{
	background-color: #FFF;
	text-align: center;
	padding: 80px 0;
	border-radius: 10px;
	width: 23%;
	height: auto;
	margin-top: 20px;
}

#input{
	padding: 17px 10px;
	margin-top: 5px;
	background-color: #dc143c;
	font-size: 15px;
	border: none;
	color: #FFF;
	border-radius: 10px;
	width: 90%;
}

.pg-login h1{
	font-family: 'Reem Kufi';
	font-style: normal;
	font-weight: bold;
	margin-top: -45px;
}

#esqueci-senha{
	cursor: pointer;
	font-family: 'Lato';
	color: #000000;
	float: left;
	font-size: 13px;
	padding: 0 7%;
	margin: 20px 0;
}

.pg-login button{
	clear: both;
	font-family: 'Reem Kufi', sans-serif;
	border: none;
	padding: 10px;
	margin-top: 5px;
	width: 40%;
	color: #FFF;
	cursor: pointer;
	background: #dc143c;
	border-radius: 20px;
}

.pg-login button:hover {
	color: #dc143c;
   	background-color:white;
	border: 1px solid #dc143c;
}

.icon-login{width: 100%;}

.icon-login img{		
	width: 50px;
	cursor: pointer;
	height: 50px;
	margin-top: -15px;
	margin: 0 10px;
}	

.cadastro-pglogin{
	border: none;
	cursor: pointer;
	clear: both;
	color: black;
	text-decoration: none;
	margin-top: -5000px;
}

@media screen and (min-width: 480px){	
	@media screen and (max-width: 1100px){	
		.pg-login{
			width: 70%;
		}
	}
}	
	
	@media screen and (min-width: 1101px){
	@media screen and (max-width: 1440px){	
		.pg-login{
			width: 35%;
			min-width: 40%;
			height: 83%;
			margin-top: 10px;
		}	
	}
}	
